<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity"
				 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Activator"/>
	</configSections>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<container>
			<register type="coolOrange.Utils.ILicenseSettings, licensing.Core"
					  mapTo="bcpDevKit.Licensing.SoftwareInformation, bcpDevKit"  />
		</container>
	</unity>
</configuration>